body {
  background-color: #f9f9f9;

}

.nopad {
  padding: 0;
}

#credits {
    display: none;
}

#header .logo {
  color: #f9a492;
}

.hero-text {
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 3px 3px 5px #000, 3px 3px 5px #f5a392;


}

@media (min-width: 1024px) {
  #first-slider .slide1 {
    background: url('../images/gallery/hero.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1024px) {
  #first-slider .slide1 {
    background-image: url('../images/gallery/hero3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
.navigation {
  margin-top: 20px;
}

.navigation a {
  color: #555;
}
}

.navigation a:hover {
    color: #f9a492;
}

.navigation a.active {
    color: #f9a492;
}

#reservation-block {
    color: white;
}

.img-container {
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.background-image {
  position: absolute;
  min-width: 1000%;
  min-height: 1000%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.1);
  z-index: -1;
}

.img-card-about {
  overflow: hidden;
  position: relative;
  padding: 25px;
  margin: auto;
}

.img-about {
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  display: block;
}

.about-text {
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
}

.about-text p {
  font-size: 18px;
}

.phone-email-contact a {
  color: #6c7279;
  font-size: 16px;
}

a.contactbtn {
  border: 1px solid #df2068;
  padding: 6px 18px;
  display: inline-block;
}
a.contactbtn:hover {
  color: #fff;
  background: #e8206b;
}

.data-section {
  display: flex;
  justify-content: center;
}

.massage-type {
  margin: auto;
}

/* Extra small devices (767px and down) */
@media (max-width: 767px) {
  .data-section {
      display: block; /* Turn off the flexible box layout */
  }
  .img-about {
    height: 50vw;
  }
  .img-card-about {
    max-width: 70vw;
  }
  .about-text {
    max-width: 70vw;
  }
}

#salon-holder {
  background: url('../images/custom/salon.jpg') no-repeat right top !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.story-content {
  background: #eaeaea;
}

/*testimonials*/

.testimonial-section {
  background: url('../images/custom/testimonials.jpg') no-repeat right;
  background-size: cover;
  height: 400px;
  text-align: center;
  display:flex;
  align-items:center;
}

.testimonial-section blockquote {
  border: 0;
  margin: 0;
}
.testimonial-section h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.testimonial-section p {
  color: white;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 30px 15%;
}

.testimonial-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blockquote-bubble {
  padding: 0;
  display: inline-block;
}

.blockquote {
  margin: 0;
  letter-spacing: -.025em;
  color: white;
  quotes: "“" "”";
}

.blockquote-content::before {
  color: rgba(0,0,0,0.15);
  font-size: 3em;
  left: 0.25em;
  top: 0.25em;
}

.blockquote-content::after {
  content: '';
  background-color: inherit;
  -webkit-mask: url(../images/custom/blockquote-beak.svg) center top/contain no-repeat;
  position: absolute;
  width: 4rem;
  height: 1rem;
  bottom: -1rem;
  right: 3rem;
}

.blockquote-content {
  border-radius: 0.5rem;
  background-color: rgba(255, 166, 147, 0.58);
  padding: 2em;
  margin: 0 0 1rem 0;
  position: relative;
}

.blockquote p::before {
  content: '“';
    position: absolute;
    font-size: 3em;
    color: #ea4c89;
    font-weight: 600;
    left: -0.5em;
    top: -0.25em;
    line-height: 1;
}

.voucher-container {
}

.voucher-card {
  background: #ffffff;
  border: 4px solid #db4766;
  padding: 0;
  margin: 0;
}

.voucher-header {
  background-color: #f9a291;
  padding: 0;
}

.services-content {
  height: 300px;
}


.massage-type-card {
  margin-bottom: 1em;
}

.massage-type-card h5{
  padding: 0 1.5em 0 1.5em;
}

.welcome-section {
  display: flex;
  justify-content: center;
}

.btn-welcome {
  text-align: center;
  border-radius: 4px;
  border: 2px solid white;
  background-color: #f5a49247;
  color: white;
  display: inline-block;
  margin: 0 0.25em;
  overflow: hidden;
  padding: 18px 60px 18px 16px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.btn-welcome:focus {
  background-color: #f5a49247;
}
.btn-welcome:hover {
  background-color: transparent;
}
.btn-welcome .btn-content {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
}
.btn-welcome .icon {
  border-left: 1px solid #f9a492;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.btn-welcome .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.btn-welcome:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f9a492;
  opacity: 0;
  transition: opacity 300ms ease;
}
.btn-welcome:hover .btn-content {
  right: 100%;
}
.btn-welcome:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}
.btn-welcome:hover:after {
  opacity: 0.2;
}
.btn-welcome.btn-alt-color {
  border-color: salmon;
  color: salmon;
}
.btn-welcome.btn-alt-color .icon {
  border-left-color: salmon;
}
.btn-welcome.btn-alt-color:after {
  background-color: salmon;
}
